*{
    box-sizing: border-box;
}

.add{ 
    width: 300px;
    height: 600px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

.info{ 
    width: 300px;
    height: 150px;
    text-align: center;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.add img{
    width: 280px;
    height : 448px;
    align-items: center;
    opacity: 0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#hero{
    color: white;
    text-emphasis: bold;
    font-size: 20px;
}