@font-face {
  font-family: sans-serif;
  src: url(unb_pro_regular.otf);
}

  .grid {
    display: grid;
    grid-template-columns:repeat(2,125px);
    grid-template-rows: 80px 350px 30px 30px;
    grid-template-areas: "header header" "qr qr" "date admit" "price price";
    text-align: center;
    background-image: url(image\ 2.png);
    background-repeat: no-repeat;
    width: 250px;
    font-family: sans-serif;
    line-height: 10px;
    box-sizing: border-box;
  }

  .desktop{
    display: none;
  }

  .frustrated{
    display: none;
  }
  
  .header { 
    grid-area: header; 
    color: white;
    background-color: black;
    width: 250px;
    text-align: center;
  }

  .header h1{
    padding-top: 8px;
    font-size: 25px;
  }
  .header p{
    font-size: 15px;
  }
  
  .qr { 
    grid-area: qr; 
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .qr img{
    width: 150px;
  }
  
  .date { 
    grid-area: date; 
    border: solid black 1px;
    font-size: 11px;
    font-weight: bolder;
  }
  
  .admit { 
    grid-area: admit; 
    border: solid black 1px;
    border-left: none;
    font-size: 11px;
    font-weight: bolder;
  }
  
  .price { 
    grid-area: price; 
    border: solid black 1px;
    border-top: none;
    font-size: 11px;
    font-weight: bold;
  } 


  @media screen and (min-width: 850px){

    body{
      background-image: url(image\ 3.png);
      background-repeat: no-repeat;
    }

    .grid{
      display: grid;
      grid-template-columns: repeat(3,1fr) 1.5fr;
      grid-template-rows: 200px 50px 30px;
      grid-template-areas: "header  header header qr" "date admit price qr" "frustrated frustrated frustrated qr" ;
      border: 1px solid black;
      background-image: none;
      width: 880px;
      line-height: 0px;
    }

    .desktop{
      display: grid;
    }

    .mobile{
      display: none;
    }

    .header{ 
      grid-area: header; 
      color: black;
      background-color: transparent;
      width: auto;
      padding-top: 50px;
    }

    .header h1{
      font-size: 65px;
    }

    .header p{
      padding-bottom: 20px;
      font-size: 18px;
    }

    .qr { 
      grid-area: qr;       
      border-left: 1px solid black;
    }
  
    .qr img{
      width: 200px;
    }
    
    .date { 
      font-size: 18px;
      padding: 8px;
      border: none;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    
    .admit { 
      font-size: 18px;
      padding: 8px;
      border: 1px solid black;
    }
    
    .price { 
      font-size: 18px;
      padding: 8px;
      border: none;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }

    .frustrated { 
      grid-area: frustrated; 
      display: grid;
      font-size: 11px;
      padding: 5px;
    }

  }

