body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}

.grid{
    display: grid;
    grid-template: repeat(10,100px) / 100%;
    grid-gap: 15px;
}

.homework{
    background-color: rgb(224,40,79);
}

.broken{
    background-color: #78FFF2;
}

.cloud{
   background-color: #FDFF00;
}

@media screen and (min-width: 700px){

    .grid{
        grid-template: repeat(5, 100px) / 50% 50%;
   
    }

}

