body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}



.grid{
    display: grid;
    grid-template: repeat(10,100px) / 100%;
    grid-gap: 15px;
    padding: 15px; 
   
}

.homework{
    background-color: rgb(224,40,79);
}

.broken{
    background-color: #78FFF2;
}

.cloud{
   background-color: #FDFF00;
}

@media screen and (min-width: 700px){

    .grid{
        display: grid;
        grid-template: repeat(5, 100px) / 50% 50%;
   
    }

}

@media screen and (min-width: 800px){

    .grid{
        display: grid;
        grid-template-columns: repeat(5, 18%);
        grid-template-rows: repeat(5, 35%);        
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .broken { grid-area: 1 / 3 / 4 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }
    .cloud{ grid-area: 2 / 4 / 4 / 6; }
    .div7 { grid-area: 2 / 2 / 3 / 3; }
    .div8 { grid-area: 2 / 1 / 3 / 2; }
    .div9 { grid-area: 3 / 1 / 4 / 2; }
    .div10 { grid-area: 3 / 2 / 4 / 3; }

}